.App {
  padding: 2em;
}

h1 {
  padding: 100px 0px 0px;
  font-size: 2em;
}

.Header {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.25em;
  line-height: 1.5em;
  letter-spacing: 0em;
  padding: 0px 1em;
}

.parties,
.seats {
  display: flex;
  align-items: flex-start;
  max-width: 660px;
  margin: 0 auto;
}

.seats {
  border: 1px solid #eee;
  padding-bottom: 1em;
}

.seats-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 50%;
  padding: 2em 2em;
}

.seats-group + .seats-group {
  justify-content: flex-start;
}

.seat {
  display: block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: relative;
  padding: 0;
  border: 1px solid white;
  background: transparent;
}

.seats-group-active .seat:nth-child(-n+75) {
  background: #eee;
}

.seat-color {
  display: block;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  position: absolute;
  margin-top: -5px;
  margin-left: -5px;
  top: 50%;
  left: 50%;
  border-radius: 10%;
  animation: plop .2s;
  animation-fill-mode: backwards;
}

.seat.hovered .seat-color {
  opacity: 0.5;
  /*transform: scale(0.7);*/
}

.seat:focus {
  outline: none;
}

.seat.disabled {
  cursor: default;
}

.seat.disabled .seat-color {
  animation: none;
}

.party-group {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  padding: 2em;
  margin: -2em 1em 2em;
  background: #fff;
}

.party-group-empty {
  opacity: 0.2;
}

.party {
  display: block;
  line-height: 1em;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: .25em 0;
  min-width: 182px;
  font-size: 1.25em;
}

.party.hovered,
.party:hover {
  cursor: pointer;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 10px 10px #fafafa;
}

.party-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  margin: -2px 10px 0;
  border-radius: 10%;
  position: relative;
}

.party:hover .party-color:after {
  content: "+";
  display: block;
  width: 10px;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  text-align: center;
  line-height: 10px;
  text-indent: 1.5px;
}

.party-group-active .party:hover .party-color:after {
  content: "×";
}

.party-seats {
  opacity: 0.5;
  font-size: 0.8em;
  margin: 0 10px;
}

.party-total {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  padding-top: .5em;
  margin-top: .5em;
  border-top: 1px solid #ddd;
  font-weight: bold;
  color: #000;
}

.party-total-ratio {
  font-weight: normal;
  font-size: 0.8em;
  opacity: 0.5;
}

.party-total-label {
  display: block;
  font-size: 0.667em;
  opacity: 0.2;
  font-weight: normal;
}

@keyframes plop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 700px) {
  h1 {
    text-align: center;
  }
  .App {
    padding: 0;
  }
  .seats {
    padding: 0;
    border: none;
    box-shadow: none;
    flex-direction: column;
  }
  .seats-group {
    width: auto;
    padding: .5em;
    justify-content: center;
  }
  .seats-group + .seats-group {
    justify-content: center;
  }
  .parties {
    flex-direction: column-reverse;
    align-items: center;
  }
  .party-group {
    width: auto;
    margin: 0;
    padding: 20px 0;
    border: none;
    box-shadow: none;
  }
}
